body        {
                margin-left:0px; position:relative;
                margin-right: 32px;
            }

.topmenu    {  background-color: darksalmon; }

.ititle     {   border-style: dotted; border-width: 1px; border-color:black(14, 2, 8);
                background-color: aqua;
                font-size: 20px;
}

.aboutsite  {   border-style: dotted; border-width: 1px; border-color:black(10, 0, 5);
                background-color: chocolate;
                font-size: 14px;
            }

.headerbox  {   border-style: dotted; border-width: 1px; border-color:black(10, 0, 5);
                background-color:gold;
                font-size: 14px; 
            }

.sheader    {
                border-style: solid; border-width: 1px; border-color:black(10, 0, 5);
                margin-left: 10px;
            }

.syohin     {   
                border-style: dotted; border-width: 1px; border-color:brown; 
                font-size:14px; 
            }

img         {   object-fit: scale-down; }

/* for flexible design */

@media (min-width: 480px) {
    .scontainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 0;
    }
    
    .syohin {
        flex: 1 1 400px;
        height: 200px;
        border: 2px dotted;
    }
}

@media (min-width: 680px) {
    .scontainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 0;
    }
    
    .syohin {
        flex: 1 1 40%;
        height: 200px;
        border: 2px dotted;
    }
}

@media (min-width: 1100px) {
    .scontainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: 0;
    }
    .syohin {
        flex: 1 1 30%;
        height: 200px;
        border: 2px dotted;
    
    }
}

/* Layout Definitions */

.topmenu    {   display: block; height: 400; }

.ititle     {   position: fixed; top: 0;  width: 95%;
                z-index: 997;
                height: 50px; 
                text-align:center;
                margin-top: 0px; margin-bottom: 0px; margin-left: 10px;
            }

.aboutsite  {   position: fixed; top: 41px;  width: 95%; 
                z-index: 997; 
                height: 40px;
                text-align:center;
                margin-top: 0px; margin-left: 10px;
            }

.headerbox  {
                position: fixed; top: 72px;  width: 95%; 
                z-index: 997; 
                height: 42px; 
                text-align:center;
                margin-top: 0px; margin-left: 10px;            
}

.sheader    {   margin-top: 120px; height: 100px; display: block;  width: 100%; 
                margin-left: 0px; padding-left:0px; 
            }

.topguid    {   margin-top: 50px; height: 100px; display: block; 
                border-style: solid; border-width: 1px; border-color:black(10, 0, 5);
            }

.operation-block { display: flex;}

.button-row   { display: flex; justify-content: space-around;}

.button10   {
    border-style: solid; border-width: 1px; border-color:black(10, 0, 5);
    width: 200px; height: 60px; text-align: center; background-color: red;
    font-size: 14px; color: white; border-radius: 6px;
}

.button20   {
    border-style: solid; border-width: 1px; border-color:black(10, 0, 5);
    width: 100px;  text-align: center; background-color: red;
    font-size: 12px; color: white; border-radius: 6px;
}

.categoryform { border-style: solid; border-width: 1px; border-color:black(10, 0, 5); }

.cat-in     { display: inline-block; }
.syohin     { margin-top: 10px; }

/*
    .boxB       {   display: inline;
                    width: 200px;
                }
*/
    .syohin-1   {   display: flex; 
                    gap: 6px;
                    height: 120px;
                }

        .boxD       {   flex: 0 0 60px; 
                        margin-left: 2px;
                    }

        .syohin-2   {   flex: 0 0 220px;

                        display: flex; 
                        flex-flow: column;
                        align-items: flex-start;
                        justify-content: space-between;            
                    }

                    .boxB   {   flex: 20px;
                                padding-left: 4px;
                            }

                    .boxE   {   flex: 20px;
                                padding-left: 4px;
                            }
                    .boxF   {   flex: 20px;
                                padding-left: 4px;
                            }

        .boxG       {   text-align: right; margin-right: 30px; }

/* paginatoer layout */

.pctrl {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

.pctrl ul.pagination li {
    float: none;
    display: inline-block;
}

.pctrl ul.pagination  {
    margin-left: 0px;
    padding-left: 0px;
}

.pctrl ul.pagination li {
    margin-left: 0px;
    padding-left: 0px;
}



